.user-center
  max-width 500px
  max-height 550px
  .user-content
    width 70%
    margin 10px auto
    a
      width 100%
      height 40px
      background rgb(38,164,222)
      color #fff
      margin 10px 0
